<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inventario.TIC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Inventario.TIC.Properties.Settings>
            <setting name="conSQL" serializeAs="String">
                <value>Data Source=SVDB01;Initial Catalog=INVTIC_TESTE;Persist Security Info=False;Trusted_Connection=False;MultipleActiveResultSets=True;User ID=invtic;Password=q1Q!q1Q!</value>
            </setting>
            <setting name="tipoBase" serializeAs="String">
                <value>producao</value>
            </setting>
        </Inventario.TIC.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RM_IRMSServer" />
                <binding name="RM_IwsBase" />
                <binding name="RM_IwsDataServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://svap01.artfix.local:8051/wsDataServer/IRMSServer"
                binding="basicHttpBinding" bindingConfiguration="RM_IRMSServer"
                contract="TOTVS.DataServer.IRMSServer" name="RM_IRMSServer" />
            <endpoint address="http://svap01.artfix.local:8051/wsDataServer/IwsBase"
                binding="basicHttpBinding" bindingConfiguration="RM_IwsBase"
                contract="TOTVS.DataServer.IwsBase" name="RM_IwsBase" />
            <endpoint address="http://svap01.artfix.local:8051/wsDataServer/IwsDataServer"
                binding="basicHttpBinding" bindingConfiguration="RM_IwsDataServer"
                contract="TOTVS.DataServer.IwsDataServer" name="RM_IwsDataServer" />
        </client>
    </system.serviceModel>
</configuration>
