<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inventario.TIC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>INrwT0qoF2Gw9+uP2ZFQz9f85EviepQEF4OpmfnAKV90VXV+z3MSCWYS5Werau+j6NYz33JkbMoMwfew1W3e4KkRJjgZI7FTb/t0TqRiWr7v7YZl565oTU9fQu7D1DvGyoFTz0Hp1u+mDVLXaa813yvkNurJD2HCV8jdoxprwJfViZiYxYVD4e9dnMR7k4cqaOhF43YLsh6nKp/yVxLpO1So+/U1kZClHR6ZZzaXDIXeFuMAiUuuuuQYrPcYn+mxYmC+hXBfeKdghfjmvRzrB6GaJvd+hL9x+I+6KlToMzifUoh54mrNVj5yYzbzJEy8tyaEehLPu4zVjbZqVMAdCQ==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>nGT+CYQ+NpCnlfYJDcSW4xd+pwX7HmoS7P+lOE1M5i+o9d9hOkzVkjgwLnPte8wcKH79CcmjX1OHAHHUpU2SNOyP9+Xv1YP7j4JuWMtIU+iVB9B3yValMnQlPT+02BY0dyZjvYA/ljKlLlEEd77Y7gVMl2UTVNZo3ZFHB67Lx6nROfPNZSCi2NaiWPiJx47h0BQaVydFPrRvNCWrOU3WeayYHH/xBRO2SFVEyCETaiZHdlJ04QRo8CMurJ5i6/MJlGBVpTGhojT/jV4UbrRplkTaFq2emDbEJerVJTfCmP0pYWxiNi0bsWJjY4NYVmeWFibH/peNTaKnaC1XGV9yZRo9HwnK0DH+/9VGvv4NnHSShyXSJPBoLtQTFwtMmICjtYRFDRsq4M5236s290gPTNMgakfpV4N06rijwqBHOohplbmZk1h/kiD0CJISp7d6Q5f/eaB2lS2QGS7da5AHKpCZX1ucmAPs3gANalapZLU/Mow9Y1OgK+qW1gxikFeippZ+i2P+w7GqkIKP/Stw9w==</CipherValue>
            </CipherData>
        </EncryptedData>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Inventario.TIC.Properties.Settings>
            <setting name="tipoBase" serializeAs="String">
                <value>producao</value>
            </setting>
        </Inventario.TIC.Properties.Settings>
    </userSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RM_IRMSServer" />
                <binding name="RM_IwsBase" />
                <binding name="RM_IwsDataServer" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://svap01.artfix.local:8051/wsDataServer/IRMSServer"
                binding="basicHttpBinding" bindingConfiguration="RM_IRMSServer"
                contract="TOTVS.DataServer.IRMSServer" name="RM_IRMSServer" />
            <endpoint address="http://svap01.artfix.local:8051/wsDataServer/IwsBase"
                binding="basicHttpBinding" bindingConfiguration="RM_IwsBase"
                contract="TOTVS.DataServer.IwsBase" name="RM_IwsBase" />
            <endpoint address="http://svap01.artfix.local:8051/wsDataServer/IwsDataServer"
                binding="basicHttpBinding" bindingConfiguration="RM_IwsDataServer"
                contract="TOTVS.DataServer.IwsDataServer" name="RM_IwsDataServer" />
        </client>
    </system.serviceModel>
</configuration>
