<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Inventario.TIC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <Inventario.TIC.Properties.Settings>
            <setting name="conSQL" serializeAs="String">
                <value>Data Source=SVDB01;Initial Catalog=INVTIC;Persist Security Info=False;Trusted_Connection=False;MultipleActiveResultSets=True;User ID=invtic;Password=q1Q!q1Q!</value>
            </setting>
        </Inventario.TIC.Properties.Settings>
    </userSettings>
</configuration>
